<div class="container show-pad">
	<div class="row">
		<div class="col-md-7">

			<%= link_to "Edit This Portfolio Item", edit_portfolio_post_path(@portfolio_item), class: "btn btn-primary" %>
			<%= link_to "Delete This Portfolio Item", portfolio_post_path(@portfolio_item), method: :delete, class: "btn btn-danger" %>

			<%= image_tag @portfolio_item.main_image, width: "100%" %>
		</div>
		<div class="col-md-5">
			<h1><%= @portfolio_item.title %></h1>
			<hr>
			<em><%= @portfolio_item.subtitle %></em>

			<p><%= @portfolio_item.body %></p>
			<hr>
			<h3>Technologies Used: </h3>

			<% @portfolio_item.technologies.each do |x| %>
			<p><%= x.name %></p>
			<% end %>
		</div>
	</div>

</div>




