<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'portfolio_posts', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    PORTFOLIOS

     <% if current_user.instance_of? User %>
      <p><%=link_to "Logout", destroy_user_session_path, method: :delete %></p>
    <% elsif current_user.instance_of? OpenStruct %>
      <p><%=link_to "Login", new_user_session_path%></p>
      <p><%=link_to "Register", new_user_registration_path%></p>
    <% end %>

    <%= yield %>

    <%= render 'shared/nav' %>

    <% if session[:source] %>
      <p>Thanks for visiting me from <%= session[:source] %></p>
    <% end %>
  </body>
</html>